$primary: #c25700;
$secondary: #4E0110;
$warning:#efb224; 
$gray: #7e8280;


.custom-h1{
    margin-top: 50px;
    margin-bottom: 50px;
    color: $secondary;
}

.btn-custom{
    border-radius: 50%;
    background-color:$warning;
}

.span-custom{
    padding: 8px 15px;
    
}


