$primary: #c25700;
$secondary: #4E0110;
$info: #1c9496;
$warning:#efb224; 
$gray: #9b9e9c3d;


h3{
    font-weight: 300;
    text-align: center;
    color: $primary;
}

.btn-custom{
    background: $primary;
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 8px;

}

.btn-custom:disabled{
    background: #c2570082;
    border-radius: 10px;
    border: none;
    color: #fff;
}

.card-register{
    background-color: #7e828016;
    border-radius:  8px;

}

small{
    color: $primary;
}


h1{
    color: $primary;
    text-align: center;
}

.btn-connexion{
    text-align: center;
    margin-top: 15px;
}

a{
    text-decoration: none;
    color: $info;
}
.para-custom{
    text-align: center;
    font-size: large;
    font-weight: 300;
}
