<app-add-ustensile [ustensiles]="ustensiles"></app-add-ustensile>

<div class="container">
    <hr>
    <h3>les ustensiles</h3>
    <div class="row d-flex justify-content-center">
        <div *ngFor="let ustensile of ustensiles" class="card m-1 col-md-3" style="width: 13rem;">
          <div class="text-end">
            <button type="button" (click)="onRemove(ustensile)" class="btn-close mt-3"></button>
          </div>
            <img src="../../assets/img/logo.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ustensile.nom}}</h5>
            </div>
    </div>
</div>