$primary: #c25700;
$secondary: #4E0110;
$info: #157a6e;
$warning:#efb224; 
$gray: #7e8280;


.btn-custom{
    background: $primary;
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 8px;

}

.btn-custom:disabled{
    background: #c2570082;
    border-radius: 10px;
    border: none;
    color: #fff;
}


.form-custom{
    border: 1px solid $primary;
    border-radius: 8px;
    padding: 15px;
}

label{
    font-size: smaller;
    font-weight: 500;
    color: $secondary;
}

.option-disabled{
    color: $gray;
}

    