$primary: #c25700;
$secondary: #4E0110;
$info: #157a6e;
$warning:#efb224; 
$gray: #3e4040;

button{
    border: none;
    background-color: white;
    padding: 0%;
    box-shadow: none;
}

.bloc-li{
    margin: 5px 35px;
    font-weight: 300;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    color: $gray;

    
}
.nom-custom{
    color: $primary;
    font-size: large;
    font-weight: bold;
}

.card{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.custom-title-card {
    font-size: x-large;
    font-weight: bold;
    font-family: Lora;
    margin: 20px;
    color: $secondary;
}


