<nav class="navbar navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" routerLink="home"><img src="../../assets/img/logo.png" class="rounded-circle" alt="Cuistot" width="70" height="70"></a>
        </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel"> <i class="bi bi-person-fill"></i> {{session['fullName']}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link " routerLink="profile" routerLinkActive="active"> <i class="bi bi-person-fill"></i> mon profil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="recettes" routerLinkActive="active"> <i class="bi bi-list-task"></i> mes recettes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#" routerLinkActive="active"> <i class="bi bi-people-fill"></i>  mes cuistots</a>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <button class="btn-custom" (click)="logOut()" type="submit"><i class="bi bi-door-closed-fill"></i> me déconnecter</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
  