<div *ngIf="recette" class="container mt-5">

    <h1 class="custom-h1"> <i class="bi bi-flower2"></i> {{recette.nom}}</h1>
    <div class="row">
        <div *ngIf="recette.quantites.length > 0" class="col-md-6">
            <app-table [detail]="'ingredientsQuantite'" [objects]="recette" (onObjects)="removeQuantite($event)"></app-table>
        </div>
        <div *ngIf="recette.ustensiles.length > 0" class="col-md-6">
            <app-table [detail]="'ustensiles'" [objects]="recette" (onObjects)="removeUstensile($event)"></app-table>
        </div>

    </div>    

    <div class="text-end mt-3">
        <button (click)="toggle()"
            class=" btn-custom">
            Pour personnalisé la recette cliquée ici
            <i *ngIf="!hidden" class="bi bi-caret-down-fill"></i>
            <i *ngIf="hidden" class="bi bi-caret-right-fill"></i>
           </button>
    </div>


    <div *ngIf="!hidden" role="tabpanel">
        <ul class=" nav justify-content-center" id="myList" role="tablist">
            <li class="nav-item">
                <a class="nav-link " data-bs-toggle="list" href="#ingredient" role="tab">Ingredients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-bs-toggle="list" href="#ustensile" role="tab">Ustensiles</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="ingredient" role="tabpanel">
                <div>
                    <app-list-ingredient [ingredients]="ingredients" [recette]="recette"></app-list-ingredient>
                </div>
            </div>
            <div class="tab-pane" id="ustensile" role="tabpanel">
                <div>
                    <app-list-ustensile [ustensiles]="ustensiles" [recette]="recette"></app-list-ustensile>
                </div>
            </div>
        </div>
    </div>