$primary: #c25700;
$secondary: #4E0110;
$info: #157a6e;
$warning:#efb224; 
$gray: #7e8280;

.btn-custom{
        border-radius: 50%;
        background-color:$warning;
}

.span-custom{
    padding: 8px 15px;
    
}

.nav-link {
    color: $primary;
}