
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img class="logo-custom" src="../../assets/img/logo.png" width="150" height="110"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <div class="justify-content-around">
            <ul class="navbar-nav me-auto mb-lg-0">
              <li class="nav-item">
                <div class="recette-hover">
                  <a class="nav-link" href="">Recettes</a>
                </div>
              </li>
              <li class="nav-item">
                <div class="ingredients-hover">
                  <a class="nav-link" routerLink="ingredients">Les Ingredients</a>
                </div>
              </li>
              <li class="nav-item">
                <div class="ustensile-hover">
                  <a class="nav-link" href="#">Les Ustensiles</a>
                </div>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </nav>


