$primary-color: #c25700;
$secondary: #4E0110;
$info: #157a6e;
$warning:#efb224; 
$gray: #7e8280;


body {
    margin: 0;   
    font-family: Hind Madurai; 

}

html{
    
    height: 100%; 

}

h1{
    font-family: Montserrat;
}

h2 h3 h4 h5 h6 {
    font-family: Lora;
}

input{
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    border: none;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    font-size: 16px;
    transition: 0.2s ease;
    border-bottom: 1px solid $gray;
    outline: none;
}

input:focus{
    border: none;
    border-bottom: 2px solid $primary-color;
    color: $primary-color;
    transition: 0.2s ease;
}

.btn-warning{
    background: $secondary !important;
    border: none;
    color: #fff !important;
}


textarea{
    border-radius: 3px;
    padding: 15px;
    width: 100%;
    border: none;
    font-size: 16px;
	color: $gray;
    transition: 0.2s ease;
    border-bottom: 1px solid $gray;
    outline: none;
}

textarea:focus{
    border: none;
    border-bottom: 2px solid $primary-color;
    color: $gray;
    transition: 0.2s ease;
}



/* Importation des styles Bootstrap */
@import "~bootstrap/dist/css/bootstrap.min.css";

/* Importation des styles Bootstrap Icons */
@import "~bootstrap-icons/font/bootstrap-icons.css";

