
<div class="container mt-5">
  <form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
      <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-file-lines"></i></span>
          <input type="text" class="form-control" placeholder="Ex: farine.." 
            aria-label="ingredient" aria-describedby="basic-addon1"
          id="nom"
          formControlName="nom"
          >
        </div>  
        <button class="btn btn-secondary" type="submit">Enregistrer</button> 
  </form>
</div>
